body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}
header {
    background-color: #ff6600;
    color: white;
    padding: 1rem;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #ff6600bd;
    padding: 1rem;
}
nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 1rem;
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 2rem;
}
footer {
    background-color: #ff6600;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0 1rem;
    bottom: 0;
    width: 100%;
    display: flex;
}
#head2 {
    background-color: #f7cb02; 
    color: #1a3263;
}
#navrugby {
    display: flex;
    justify-content: center;
    background-color: #274c96; 
    color: #f7cb02;
    padding: 1rem;
}
nav b {
    color:#f7cb02;
    text-decoration: none;
    margin: 0 1rem;
}
nav b:hover {
    text-decoration: underline;
}  
#head3 {
    background-color: #1a3263; 
    color: #f7cb02;
}
